.triprequest .container{
    margin-left: 170px;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    position: relative !important;
    padding: 8px !important;

}

/*.card{*/
/*    display: flex;*/
/*}*/

/*.image-container {*/
/*    flex: 1;*/
/*    background-image: url("taxi2.jpg");*/
/*    background-size: cover;*/
/*    background-position: left;*/
/*}*/

/*.form-container {*/
/*    flex: 1;*/
/*    padding: 20px;*/
/*}*/