/* trip.css */

.home .container {
    margin-left: 10px; /* Adjust as needed */
}

.home input,
.home button,
.home select,
.home optgroup,
.home textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    position: relative !important;
    padding: 8px !important;
}

#lottie{
    width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
#lottie >.ant-space-item{
    width: 50%;
    margin: 10px 10px;
    min-height: 50%;

}
#lottie::before{
    opacity: 1;
}
